@tailwind base;
@tailwind components;
@tailwind utilities;


:root {
  font-family:  Helvetica, Verdana, Arial, Tahoma, Avenir, sans-serif;
  color-scheme: light dark;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

:root {
  @apply text-white bg-[#242424] font-normal leading-[1.5];
}

#root {
  @apply grid text-center w-full my-0;
}


body {
  @apply m-0 flex justify-center min-h-screen;
}